<html ng-app="app">
<head>
    <title>Adobe API Request Top URLs</title>
    <script type="text/javascript" src="wsse.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="mainController.js"></script>
    <script src="mainService.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body ng-controller="mainController">

    <h1>Adobe API Request Top URLs</h1>
    <form id="api-call-form">
        <table>

          User Name: <input type="text" ng-model="inputUsername" /><br />
          Secret: <input type="text" ng-model="inputSecret" /><br />

            <label> Endpoint City:
                <select ng-model="city" ng-options="endpoint.name for endpoint in endpoints" ng-change="sendEndpoint(); getReports();">
                   <option value="endpoint.value">-- choose city --</option>
                </select>
            </label>

              <tr><td><label for="reportSuites"> Report Suite:
                <select ng-model="reportSuites" ng-options="item.rsid as item.site_title for item in urls.report_suites" ng-change="getMetrics()">
                </select>
              </label></tr></td>

              <tr><td><label for="selectMetrics"> Metrics:
                <select ng-model="selectMetrics" ng-options="item.id as item.name for item in metrics" ng-change="getElements()">
                </select>
              </label></tr></td>

              <tr><td>Number of Pages: <input type="text" ng-model="selectNumber" /></tr></td><br />

            <tr><td><label for="selectElements"> Elements:
              <select ng-model="selectElements" ng-options="item.id as item.name for item in elements" ng-change="getReportID()">
              </select>
            </label></tr></td>
        </table>
      </form>
      <input  type="submit" ng-click="getUrlReport()" ng-if="reportObject" />
      <table>
    <tr>
        <th>Urls</th>
    </tr>
    <tr><td><label>
      <div ng-model="finalReport" ng-repeat="item in urlReport.report.data">
        {{item.name}}
      </div>
    </label></tr></td>
</table>
</body>
</html>
